body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
    flex-direction: column;
    font-family: "Heebo";
    margin: 0;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 0;
    background-color:#444;
  
    
}
.btn{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 1180px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #444 ;
    border: 5px solid #ad8f2a ;
    border-radius: 8px;
    transition-property: transform ;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    background-color: 0.3s;
    color:0.3s;
  
  }
  .btn:hover {
    transform: translate(10px);
    color : goldenrod;
  }
  .back{
    text-decoration: none;
    color:#ad8f2a ;
  }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    background-color: #ad8f2a;
    color: wheat ;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:#ad8f2a;
  }
  
  section {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .container2{
    width: 60vw;
  }